<footer>
  <div class="c-footer">
    <div class="l-container">
      <div class="l-row">
        <div class="l-col-xs-13 l-col-sm-18 l-col-sm-offset-1">
          <div class="l-row">
            <div class="c-footer__column l-col-xs-26 l-col-sm-spread">
              <h4>Explore</h4>
              <ul class="c-footer__links">
                <li><%= link_to "Courses", "#", class: "u-text-normal" %></li>
                <li><%= link_to "For Business", "#", class: "u-text-normal" %></li>
                <li><%= link_to "Teach on Seably", "#", class: "u-text-normal" %></li>
              </ul>
            </div>
            <div class="c-footer__column l-col-xs-26 l-col-sm-spread">
              <h4>Company</h4>
              <ul class="c-footer__links">
                <li><%= link_to "Mobile Apps", "#", class: "u-text-normal" %></li>
                <li><%= link_to "Privacy Policy", "#", class: "u-text-normal", target: "_blank" %></li>
                <li><%= link_to "Contact", "#", class: "u-text-normal" %></li>
              </ul>
            </div>
            <div class="c-footer__column l-col-xs-26 l-col-sm-spread">
              <h4>Social</h4>
              <ul class="c-footer__links">
                <li><%= link_to "Facebook", "https://www.facebook.com/SeablyTraining", target: "_blank", class: "u-text-normal" %></li>
                <li><%= link_to "LinkedIn", "https://linkedin.com/company/seably", target: "_blank", class: "u-text-normal" %></li>
                <li><%= link_to "Twitter", "https://twitter.com/SeablyTraining", target: "_blank", class: "u-text-normal" %></li>
                <li><%= link_to "Medium", "https://medium.com/seably", target: "_blank", class: "u-text-normal" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-footer__column l-col-xs-13 l-col-sm-6">
          <h4>Support</h4>
          <ul class="c-footer__links">
            <li><%= link_to "Chat with Us", "#", class: "u-text-normal", target: "_blank" %></li>
            <li><%= link_to "Help Center", "#", class: "u-text-normal", target: "_blank" %></li>
            <li><%= link_to "Business Partnership", "#", class: "u-text-normal", target: "_blank" %></li>
            <li><%= link_to "Book a Demo", "#", class: "u-text-normal", target: "_blank" %></li>
          </ul>
        </div>
      </div>
      <div class="l-row">
        <div class="l-col-xs-26 u-text-center">
          <h4>© <%= Time.now.year %>, Seably</h4>
          <ul>
            <li>Kungsgatan 4, SE-411 19,</li>
            <li>Gothenburg, Sweden</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
